.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
*.codekit
node_modules
.sass-cache
.idea
validation-report.json
validation-status.json
npm-debug.log
yarn-error.log
lerna-debug.log
dist/
lib/
_fixture/
tests/*/pancake/
tests/*/yarn.lock
tests/*/testfolder/
!tests/*/fixture/pancake/
!tests/*/fixture/testfolder/
!tests/*/node_modules/
!tests/*/node_modules/*/*/lib/
!tests/*/node_modules/*/dist/
!tests/modules/*/lib/
coverage/
