.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
*.codekit
node_modules
.sass-cache
.idea
validation-report.json
validation-status.json
npm-debug.log
yarn-error.log
lerna-debug.log
dist/
lib/
tests/*/pancake/
tests/*/yarn.lock
tests/*/testfolder/
!tests/*/node_modules/
coverage/
